.superContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  background-color: #F6F7EB;

}

@media(max-width: 600px) {
  .superContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F6F7EB;
  }
}

.titlePacks {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
  font-size: 1.2rem;
  text-shadow: 0px 10px 30px grey;
  color: #393E41;
  text-align: center;
  border-bottom: 2px solid #FF8E72;
  padding-bottom: 3rem;

}

.font-bold {
  color: black;
}

@media(max-width: 720px) {
  .titlePacks {
    width: 90%;
    padding: 2rem;

  }
}

@media(max-width:770px) {
  .subtitle-cards {
    width: 100%;
    font-size: 1rem;
  }
}

@media(max-width: 400px) {
  .subtitle-cards {
    width: 100%;
    font-size: .8rem;
  }
}

.selecciona-experiencias {
  width: 100%;
  margin-top: 4rem;
  font-size: 1.5rem;
  color: black;
}

.subt-exp {
  color: #393E41;
  margin-top: 1rem;
  font-size: 1.5rem;
}

@media(max-width:770px) {
  .selecciona-experiencias {
    width: 100%;
    margin-top: 4rem;
    font-size: 1rem;
    color: #FF8E72;
  }

  .subt-exp {
    color: #393E41;
    margin-top: 1rem;
    font-size: 1rem;
  }
}

@media(max-width:400px) {
  .selecciona-experiencias {
    width: 100%;
    margin-top: 4rem;
    font-size: .7rem;
    color: #FF8E72;
  }

  .subt-exp {
    color: #393E41;
    margin-top: 1rem;
    font-size: .7rem;
  }
}

.titleCards {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: 5rem;
  text-shadow: 0px 8px 45px grey;
  color: #F6F7EB;
  text-align: center;
  letter-spacing: .5rem;
}

@media(max-width:770px) {
  .titleCards {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-family: 'Poppins';
    font-weight: bolder;
    font-size: 4rem;
    text-shadow: 0px 8px 45px grey;
    color: #F6F7EB;
    text-align: center;
    letter-spacing: .5rem;
  }
}

.containerPacks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  padding-bottom: 3rem;
  flex-grow: 1;
  width: 90%;
  height: 100%;
}

/* From uiverse.io by @alexruix */
.card {
  width: 18rem;
  margin: 1rem;
  height: 22rem;
  border-radius: 2em;
  padding: 1.9rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 12px 15px grey;

}

@media(max-width:1024px) {
  .card {
    width: 13rem;
    margin: 1rem;
    height: 15rem;
    border-radius: 2em;
    padding: 1.9rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 12px 15px grey;

  }
}

@media(max-width:450px) {
  .card {
    width: 13rem;
    margin: 1rem;
    height: 15rem;
    border-radius: 2em;
    padding: 1.9rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    transition: 0.4s ease-out;
    box-shadow: 0px 12px 15px grey;

  }
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.482);
  z-index: 2;
  transition: 0.5s;
  border-radius: 2em;
}

.card-info {
  position: relative;
  z-index: 3;
  color: #f5f5f5;
  opacity: 0;
  transform: translateY(20%);
  transition: 0.5s;
  text-shadow: 0px 15px 20px grey;
  border-radius: 2em;

}

/*Text*/
.text-title {
  font-size: 1.8rem;
  margin-bottom: .5rem;
  font-weight: 500;
  color: #f5f5f5;
  z-index: 10;
  text-align: center;
  width: 100%;
  text-shadow: 0px 15px 20px grey;
}

@media(max-width:1024px) {
  .text-title {
    font-size: 1.2rem;
    margin-bottom: 0rem;
  }
}

.text-body {
  letter-spacing: 1px;
  font-size: 0.8rem;
  font-weight: 100;
  margin-top: 1rem;
}

@media(max-width:1024px) {
  .text-body {
    letter-spacing: 0px;
    font-size: 0.6rem;
    margin-top: .2rem;
  }
}

/*Button*/
.card-button {
  padding: .5rem;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #393e41;
  color: white;
  font-weight: lighter;
  transition: 0.4s ease;
  font-size: 13px;
  margin-top: 1.5rem;
}

@media(max-width:1024px) {
  .card-button {
    padding: .5rem;
    font-size: 10px;
    margin-top: 1rem;
  }
}

/*Image*/
.card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  border-radius: 2em;
}

/*Hover*/
.card:hover {
  transform: translateY(5%);
}

.card:hover:before {
  opacity: 1;
}

.card:hover .card-info {
  opacity: 1;
  transform: translateY(0);
}

.card-button:hover {
  background: #ff8e72;
  color: #f5f5f5;
}

/* Filtro de precios */
.inputPrecios {
  z-index: 50000 !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 10rem;
  height: 3rem;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  opacity: 0;

}

.container-izq {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 2rem;
}

@media(max-width:600px) {
  .container-izq {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 2rem;
  }
}

.filtro-precios {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 304px;
  padding: 0 !important;
  margin: 0 !important;
}

@media(max-width: 600px) {
  .filtro-precios {
    width: 260px;
    padding: 0 !important;
    margin: 0 !important;
  }
}

@media(max-width: 330px) {
  .filtro-precios {
    width: 280px;
    padding: 0 !important;
    margin: 0 !important;
  }
}


.container-filtro-precios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

@media(max-width: 426px) {
  .container-filtro-precios {
    justify-content: center;
    width: 90%;

  }
}

@media(max-width: 350px) {
  .container-filtro-precios {
    justify-content: center;
    width: 90%;

  }
}

.texto-filtro-precios {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Poppins";
  text-shadow: 0px 8px 45px grey;
}

@media(max-width:600px) {
  .texto-filtro-precios {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    font-family: "Raleway";
    text-shadow: 0px 8px 45px grey;
  }
}

.box-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 1rem;
  height: 1.5rem;
  width: 10rem;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #ff8e72b0;
  cursor: pointer;
  transition: 0.4s ease;
  box-shadow: 0px 5px 15px grey;

}

.box-checkbox:hover {
  background: #393E41;
  color: #f5f5f5;
}


.label-checkbox {
  font-family: "Poppins";
  width: 7rem;
  height: 2.5rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-clean {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem;
  font-size: 1rem;
  height: 1.5rem;
  width: 10rem;
  border-radius: 10px;
  padding: 1.5rem;
  background-color: #ff8e72b0;
  cursor: pointer;
  transition: 0.4s ease;
  box-shadow: 0px 5px 15px grey;
  text-align: center;

}

.btn-clean:hover {
  background: #393E41;
  color: #f5f5f5;
}

@media (max-width: 426px) {
  .box-checkbox {
    margin: .8rem;
    font-size: .8rem;
    height: 1.5rem;
    width: 7.5rem;
    padding: 1rem;
    box-shadow: 0px 5px 15px grey;

  }

  .btn-clean {
    margin: .8rem;
    font-size: .8rem;
    height: 1.5rem;
    width: 7.5rem;
    padding: 1rem;
    box-shadow: 0px 5px 15px grey;

  }
}