.l-dropdown {
    width: 80%;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 2rem !important;
}

.MuiBackdrop-root {
    width: 800px !important;
    height: 800px !important;
    background-color: #f6f7ebc6 !important;
    display: flex;
    flex-direction: column;
}

.l-comments-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-top: 2rem;
    border: 1px solid black;
    background-color: white;
    padding: 2rem;
}

.l-usuario-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.l-avatar {
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.l-nombreusuario {
    font-size: .9rem;
}

.comment-box {
    width: 460px;
    border: 1px solid #393E41 !important;
    border-radius: 20px;
    background-color: white !important;
    padding: 1rem;
}

.comment-box-commented {
    width: 460px;
    background-color: white !important;
    padding: 1rem;
}

.l-textraiting {
    font-family: "Poppins";
    color: #393E41;
}

.MuiButton-root {
    width: 70%;
    display: flex;
    justify-content: space-around !important;
    border: 1px solid #FF8E72 !important;
    border-radius: 15px !important;
    padding: 2rem !important;
}

.l-buttons-cont{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 1rem;
    margin: 1rem;
} 
















/*.l-btnclose {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

}





.comments-container{
    display: flex;
    flex-direction: column;
}


.l-daterating {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MuiBox-root {
    width: 100%;
    padding: 0 !important;
}

.MuiFormControl-root {
    width: 100%;
}*/




